### Bike Store Data

##### This is a sample database obtained from Kaggle (https://www.kaggle.com/datasets/dillonmyrick/bike-store-sample-database) which includes data from three bike stores. The data pertains to operations, sales, and inventory. I will be utilizing both Python and SQL to transform, analyze, and visualize notable trends and general information on these stores.

In [80]:
import numpy as np 
import pandas as pd 

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/bike-store-sample-database/products.csv
/kaggle/input/bike-store-sample-database/brands.csv
/kaggle/input/bike-store-sample-database/categories.csv
/kaggle/input/bike-store-sample-database/order_items.csv
/kaggle/input/bike-store-sample-database/staffs.csv
/kaggle/input/bike-store-sample-database/orders.csv
/kaggle/input/bike-store-sample-database/stores.csv
/kaggle/input/bike-store-sample-database/customers.csv
/kaggle/input/bike-store-sample-database/stocks.csv

In [81]:
import pandas as pd
import numpy as np
import sqlite3 as sql3
import matplotlib.pyplot as plt

##### Firstly, we'll be reading each dataframe using the Pandas library. This will in turn allow us to add each dataframe into a SQLite database which will allows us to run queries across multiple dataframes within this database.

In [82]:
brands = pd.read_csv('/kaggle/input/bike-store-sample-database/brands.csv')
categories = pd.read_csv('/kaggle/input/bike-store-sample-database/categories.csv')
customers = pd.read_csv('/kaggle/input/bike-store-sample-database/customers.csv')
order_items = pd.read_csv('/kaggle/input/bike-store-sample-database/order_items.csv')
orders = pd.read_csv('/kaggle/input/bike-store-sample-database/orders.csv')
products = pd.read_csv('/kaggle/input/bike-store-sample-database/products.csv')
staffs = pd.read_csv('/kaggle/input/bike-store-sample-database/staffs.csv')
stocks = pd.read_csv('/kaggle/input/bike-store-sample-database/stocks.csv')
stores = pd.read_csv('/kaggle/input/bike-store-sample-database/stores.csv')

In [83]:
connection = sql3.connect('bike_store.db')

brands.to_sql('brands', connection, if_exists = 'replace', index = False)
categories.to_sql('categories', connection, if_exists = 'replace', index = False)
customers.to_sql('customers', connection, if_exists = 'replace', index = False)
order_items.to_sql('order_items', connection, if_exists = 'replace', index = False)
orders.to_sql('orders', connection, if_exists = 'replace', index = False)
products.to_sql('products', connection, if_exists = 'replace', index = False)
staffs.to_sql('staffs', connection, if_exists = 'replace', index = False)
stocks.to_sql('stocks', connection, if_exists = 'replace', index = False)
stores.to_sql('stores', connection, if_exists = 'replace', index = False)

3

##### The piece of code spills out all the data found in the tables within our SQLite database.

In [84]:
cursor = connection.cursor()

cursor.execute("SELECT name FROM sqlite_master WHERE type = 'table'; ")
tables = cursor.fetchall()

for table in tables:
    table_name = table[0]
    print(f"Table: {table_name}")
    
    cursor.execute(f"SELECT * FROM {table_name};")
    table_data = cursor.fetchall()
    
    for row in table_data:
        print(row)

Table: brands
(1, 'Electra')
(2, 'Haro')
(3, 'Heller')
(4, 'Pure Cycles')
(5, 'Ritchey')
(6, 'Strider')
(7, 'Sun Bicycles')
(8, 'Surly')
(9, 'Trek')
Table: categories
(1, 'Children Bicycles')
(2, 'Comfort Bicycles')
(3, 'Cruisers Bicycles')
(4, 'Cyclocross Bicycles')
(5, 'Electric Bikes')
(6, 'Mountain Bikes')
(7, 'Road Bikes')
Table: customers
(1, 'Debra', 'Burks', None, 'debra.burks@yahoo.com', '9273 Thorne Ave. ', 'Orchard Park', 'NY', 14127)
(2, 'Kasha', 'Todd', None, 'kasha.todd@yahoo.com', '910 Vine Street ', 'Campbell', 'CA', 95008)
(3, 'Tameka', 'Fisher', None, 'tameka.fisher@aol.com', '769C Honey Creek St. ', 'Redondo Beach', 'CA', 90278)
(4, 'Daryl', 'Spence', None, 'daryl.spence@aol.com', '988 Pearl Lane ', 'Uniondale', 'NY', 11553)
(5, 'Charolette', 'Rice', '(916) 381-6003', 'charolette.rice@msn.com', '107 River Dr. ', 'Sacramento', 'CA', 95820)
(6, 'Lyndsey', 'Bean', None, 'lyndsey.bean@hotmail.com', '769 West Road ', 'Fairport', 'NY', 14450)
(7, 'Latasha', 'Hays', '(716) 986-3359', 'latasha.hays@hotmail.com', '7014 Manor Station Rd. ', 'Buffalo', 'NY', 14215)
(8, 'Jacquline', 'Duncan', None, 'jacquline.duncan@yahoo.com', '15 Brown St. ', 'Jackson Heights', 'NY', 11372)
(9, 'Genoveva', 'Baldwin', None, 'genoveva.baldwin@msn.com', '8550 Spruce Drive ', 'Port Washington', 'NY', 11050)
(10, 'Pamelia', 'Newman', None, 'pamelia.newman@gmail.com', '476 Chestnut Ave. ', 'Monroe', 'NY', 10950)
(11, 'Deshawn', 'Mendoza', None, 'deshawn.mendoza@yahoo.com', '8790 Cobblestone Street ', 'Monsey', 'NY', 10952)
(12, 'Robby', 'Sykes', '(516) 583-7761', 'robby.sykes@hotmail.com', '486 Rock Maple Street ', 'Hempstead', 'NY', 11550)
(13, 'Lashawn', 'Ortiz', None, 'lashawn.ortiz@msn.com', '27 Washington Rd. ', 'Longview', 'TX', 75604)
(14, 'Garry', 'Espinoza', None, 'garry.espinoza@hotmail.com', '7858 Rockaway Court ', 'Forney', 'TX', 75126)
(15, 'Linnie', 'Branch', None, 'linnie.branch@gmail.com', '314 South Columbia Ave. ', 'Plattsburgh', 'NY', 12901)
(16, 'Emmitt', 'Sanchez', '(212) 945-8823', 'emmitt.sanchez@hotmail.com', '461 Squaw Creek Road ', 'New York', 'NY', 10002)
(17, 'Caren', 'Stephens', None, 'caren.stephens@msn.com', '914 Brook St. ', 'Scarsdale', 'NY', 10583)
(18, 'Georgetta', 'Hardin', None, 'georgetta.hardin@aol.com', '474 Chapel Dr. ', 'Canandaigua', 'NY', 14424)
(19, 'Lizzette', 'Stein', None, 'lizzette.stein@yahoo.com', '19 Green Hill Lane ', 'Orchard Park', 'NY', 14127)
(20, 'Aleta', 'Shepard', None, 'aleta.shepard@aol.com', '684 Howard St. ', 'Sugar Land', 'TX', 77478)
(21, 'Tobie', 'Little', None, 'tobie.little@gmail.com', '10 Silver Spear Dr. ', 'Victoria', 'TX', 77904)
(22, 'Adelle', 'Larsen', None, 'adelle.larsen@gmail.com', '683 West Kirkland Dr. ', 'East Northport', 'NY', 11731)
(23, 'Kaylee', 'English', None, 'kaylee.english@msn.com', '8786 Fulton Rd. ', 'Hollis', 'NY', 11423)
(24, 'Corene', 'Wall', None, 'corene.wall@msn.com', '9601 Ocean Rd. ', 'Atwater', 'CA', 95301)
(25, 'Regenia', 'Vaughan', None, 'regenia.vaughan@gmail.com', '44 Stonybrook Street ', 'Mahopac', 'NY', 10541)
(26, 'Theo', 'Reese', '(562) 215-2907', 'theo.reese@gmail.com', '8755 W. Wild Horse St. ', 'Long Beach', 'NY', 11561)
(27, 'Santos', 'Valencia', None, 'santos.valencia@yahoo.com', '7479 Carpenter Street ', 'Sunnyside', 'NY', 11104)
(28, 'Jeanice', 'Frost', None, 'jeanice.frost@hotmail.com', '76 Devon Lane ', 'Ossining', 'NY', 10562)
(29, 'Syreeta', 'Hendricks', None, 'syreeta.hendricks@msn.com', '193 Spruce Road ', 'Mahopac', 'NY', 10541)
(30, 'Jamaal', 'Albert', None, 'jamaal.albert@gmail.com', '853 Stonybrook Street ', 'Torrance', 'CA', 90505)
(31, 'Williemae', 'Holloway', '(510) 246-8375', 'williemae.holloway@msn.com', '69 Cypress St. ', 'Oakland', 'CA', 94603)
(32, 'Araceli', 'Golden', None, 'araceli.golden@msn.com', '12 Ridgeview Ave. ', 'Fullerton', 'CA', 92831)
(33, 'Deloris', 'Burke', None, 'deloris.burke@hotmail.com', '895 Edgemont Drive ', 'Palos Verdes Peninsula', 'CA', 90274)
(34, 'Brittney', 'Woodward', None, 'brittney.woodward@aol.com', '960 River St. ', 'East Northport', 'NY', 11731)
(35, 'Guillermina', 'Noble', None, 'guillermina.noble@msn.com', '6 Del Monte Lane ', 'Baldwinsville', 'NY', 13027)
(36, 'Bernita', 'Mcdaniel', None, 'bernita.mcdaniel@hotmail.com', '2 Peg Shop Ave. ', 'Liverpool', 'NY', 13090)
(37, 'Melia', 'Brady', None, 'melia.brady@gmail.com', '907 Shirley Rd. ', 'Maspeth', 'NY', 11378)
(38, 'Zelma', 'Browning', None, 'zelma.browning@aol.com', '296 Second Street ', 'Astoria', 'NY', 11102)
(39, 'Janetta', 'Aguirre', '(717) 670-2634', 'janetta.aguirre@aol.com', '214 Second Court ', 'Lancaster', 'NY', 14086)
(40, 'Ronna', 'Butler', None, 'ronna.butler@gmail.com', '9438 Plymouth Court ', 'Encino', 'CA', 91316)
(41, 'Kathie', 'Freeman', None, 'kathie.freeman@msn.com', '667 Temple Dr. ', 'Queensbury', 'NY', 12804)
(42, 'Tangela', 'Quinn', None, 'tangela.quinn@aol.com', '4 S. Purple Finch Road ', 'Richmond Hill', 'NY', 11418)
(43, 'Mozelle', 'Carter', '(281) 489-9656', 'mozelle.carter@aol.com', '895 Chestnut Ave. ', 'Houston', 'TX', 77016)
(44, 'Onita', 'Johns', None, 'onita.johns@msn.com', '32 Glen Creek Lane ', 'Elmont', 'NY', 11003)
(45, 'Bennett', 'Armstrong', None, 'bennett.armstrong@aol.com', '688 Walnut Street ', 'Bethpage', 'NY', 11714)
(46, 'Monika', 'Berg', None, 'monika.berg@gmail.com', '369 Vernon Dr. ', 'Encino', 'CA', 91316)
(47, 'Bridgette', 'Guerra', None, 'bridgette.guerra@hotmail.com', '9982 Manor Drive ', 'San Lorenzo', 'CA', 94580)
(48, 'Cesar', 'Jackson', None, 'cesar.jackson@gmail.com', '8068 N. Griffin Ave. ', 'Liverpool', 'NY', 13090)
(49, 'Caroll', 'Hays', None, 'caroll.hays@yahoo.com', '9381 Wrangler St. ', 'Fairport', 'NY', 14450)
(50, 'Cleotilde', 'Booth', None, 'cleotilde.booth@gmail.com', '17 Corona St. ', 'Sugar Land', 'TX', 77478)
(51, 'Gertrud', 'Rhodes', None, 'gertrud.rhodes@aol.com', '9961 Meadowbrook Street ', 'Merrick', 'NY', 11566)
(52, 'Tu', 'Ramirez', None, 'tu.ramirez@hotmail.com', '24 W. Courtland Street ', 'East Elmhurst', 'NY', 11369)
(53, 'Saturnina', 'Garner', None, 'saturnina.garner@gmail.com', '8538 Fairground St. ', 'Glendora', 'CA', 91740)
(54, 'Fran', 'Yang', None, 'fran.yang@hotmail.com', '440 Pearl St. ', 'Utica', 'NY', 13501)
(55, 'Diana', 'Guerra', None, 'diana.guerra@hotmail.com', '45 Chapel Ave. ', 'Merrick', 'NY', 11566)
(56, 'Lolita', 'Mosley', '(281) 363-3309', 'lolita.mosley@hotmail.com', '376 S. High Ridge St. ', 'Houston', 'TX', 77016)
(57, 'Pamala', 'Henry', None, 'pamala.henry@aol.com', '197 Bridgeton Ave. ', 'Bronx', 'NY', 10451)
(58, 'Damien', 'Dorsey', None, 'damien.dorsey@yahoo.com', '161 Old York Street ', 'Central Islip', 'NY', 11722)
(59, 'Latasha', 'Stanley', None, 'latasha.stanley@gmail.com', '8068 Fordham Drive ', 'Rockville Centre', 'NY', 11570)
(60, 'Neil', 'Mccall', None, 'neil.mccall@gmail.com', '7476 Oakland Dr. ', 'San Carlos', 'CA', 94070)
(61, 'Elinore', 'Aguilar', None, 'elinore.aguilar@msn.com', '9766 Rockcrest Ave. ', 'San Angelo', 'TX', 76901)
(62, 'Alica', 'Hunter', None, 'alica.hunter@hotmail.com', '8 San Juan Drive ', 'East Elmhurst', 'NY', 11369)
(63, 'Tenisha', 'Lyons', None, 'tenisha.lyons@aol.com', '78 E. Rock Creek Street ', 'Amityville', 'NY', 11701)
(64, 'Bobbie', 'Foster', None, 'bobbie.foster@yahoo.com', '988 Pineknoll Ave. ', 'Desoto', 'TX', 75115)
(65, 'Kanesha', 'Vega', None, 'kanesha.vega@gmail.com', '771 E. Oxford Drive ', 'Rome', 'NY', 13440)
(66, 'Lorrie', 'Becker', None, 'lorrie.becker@yahoo.com', '19 North Court ', 'Garland', 'TX', 75043)
(67, 'Tommie', 'Melton', '(916) 802-2952', 'tommie.melton@gmail.com', '8 West Old York St. ', 'Sacramento', 'CA', 95820)
(68, 'Jayne', 'Kirkland', None, 'jayne.kirkland@hotmail.com', '7800 Second Lane ', 'Rowlett', 'TX', 75088)
(69, 'Katelin', 'Kennedy', None, 'katelin.kennedy@gmail.com', '286 Myrtle Lane ', 'Rocklin', 'CA', 95677)
(70, 'Tomasa', 'Carson', None, 'tomasa.carson@aol.com', '10 Clark Avenue ', 'East Elmhurst', 'NY', 11369)
(71, 'Takako', 'Casey', None, 'takako.casey@aol.com', '7548 Court Lane ', 'Bronx', 'NY', 10451)
(72, 'Petronila', 'Norris', None, 'petronila.norris@aol.com', '72 South Marshall Lane ', 'South El Monte', 'CA', 91733)
(73, 'Melanie', 'Hayes', None, 'melanie.hayes@msn.com', '5 N. Hall Dr. ', 'Liverpool', 'NY', 13090)
(74, 'Georgeann', 'Waller', None, 'georgeann.waller@yahoo.com', '9797 Bald Hill Ave. ', 'North Tonawanda', 'NY', 14120)
(75, 'Abby', 'Gamble', None, 'abby.gamble@aol.com', '60 Myers Dr. ', 'Amityville', 'NY', 11701)
(76, 'Parker', 'Prince', None, 'parker.prince@hotmail.com', '21 Sulphur Springs Drive ', 'Port Jefferson Station', 'NY', 11776)
(77, 'Keri', 'Bridges', None, 'keri.bridges@gmail.com', '8504 Brickell Ave. ', 'Richardson', 'TX', 75080)
(78, 'Chi', 'Goff', None, 'chi.goff@aol.com', '3 W. Glen Ridge Avenue ', 'Palos Verdes Peninsula', 'CA', 90274)
(79, 'Ashanti', 'Parks', None, 'ashanti.parks@hotmail.com', '846 N. Helen St. ', 'Baldwin', 'NY', 11510)
(80, 'Sarai', 'Mckee', '(716) 912-8110', 'sarai.mckee@msn.com', '641 Glenwood Avenue ', 'Buffalo', 'NY', 14215)
(81, 'Zina', 'Bonner', None, 'zina.bonner@hotmail.com', '9312 8th Street ', 'San Lorenzo', 'CA', 94580)
(82, 'Lizzie', 'Joyner', None, 'lizzie.joyner@msn.com', '8541 Roberts St. ', 'Coachella', 'CA', 92236)
(83, 'Tiesha', 'Daniel', None, 'tiesha.daniel@yahoo.com', '6 West Bohemia Lane ', 'Scarsdale', 'NY', 10583)
(84, 'Armand', 'Whitehead', None, 'armand.whitehead@hotmail.com', '639 Harvey St. ', 'Lindenhurst', 'NY', 11757)
(85, 'Teofila', 'Fischer', None, 'teofila.fischer@aol.com', '1 West Brickyard St. ', 'Huntington Station', 'NY', 11746)
(86, 'Lissa', 'Vargas', None, 'lissa.vargas@yahoo.com', '517 Victoria Ave. ', 'Oswego', 'NY', 13126)
(87, 'Yan', 'Mcgowan', None, 'yan.mcgowan@msn.com', '8960 Newport Ave. ', 'Duarte', 'CA', 91010)
(88, 'Titus', 'Bullock', None, 'titus.bullock@gmail.com', '29 Oxford Avenue ', 'Hollis', 'NY', 11423)
(89, 'Arvilla', 'Osborn', None, 'arvilla.osborn@gmail.com', '60 Acacia Lane ', 'Upland', 'CA', 91784)
(90, 'Marjorie', 'Logan', None, 'marjorie.logan@msn.com', '95 Grandrose St. ', 'Franklin Square', 'NY', 11010)
(91, 'Marvin', 'Mullins', '(619) 635-2027', 'marvin.mullins@aol.com', '7489 Redwood Drive ', 'San Diego', 'CA', 92111)
(92, 'Tena', 'Cruz', None, 'tena.cruz@yahoo.com', '1 South St. ', 'Farmingdale', 'NY', 11735)
(93, 'Corrina', 'Sawyer', '(248) 370-1364', 'corrina.sawyer@yahoo.com', '95 Briarwood Lane ', 'Troy', 'NY', 12180)
(94, 'Sharyn', 'Hopkins', None, 'sharyn.hopkins@hotmail.com', '4 South Temple Ave. ', 'Baldwinsville', 'NY', 13027)
(95, 'Letitia', 'Franco', None, 'letitia.franco@aol.com', '607 Lakeview Drive ', 'Saratoga Springs', 'NY', 12866)
(96, 'Floretta', 'Higgins', None, 'floretta.higgins@hotmail.com', '870 Lilac Dr. ', 'Bayside', 'NY', 11361)
(97, 'Louanne', 'Martin', None, 'louanne.martin@hotmail.com', '1 Campfire Ave. ', 'Yuba City', 'CA', 95993)
(98, 'Violet', 'Valenzuela', None, 'violet.valenzuela@msn.com', '8668 Piper Street ', 'Plattsburgh', 'NY', 12901)
(99, 'Carie', 'Kidd', None, 'carie.kidd@yahoo.com', '6 East Clinton Street ', 'Monroe', 'NY', 10950)
(100, 'Kellie', 'Franco', None, 'kellie.franco@yahoo.com', '444 South Walnut Rd. ', 'Commack', 'NY', 11725)
(101, 'Nichelle', 'Howell', None, 'nichelle.howell@aol.com', '7670 Forest St. ', 'Scarsdale', 'NY', 10583)
(102, 'Marisol', 'Goodman', None, 'marisol.goodman@gmail.com', '864 East Cherry St. ', 'Canandaigua', 'NY', 14424)
(103, 'Sylvie', 'Wilkerson', None, 'sylvie.wilkerson@yahoo.com', '750 Central Ave. ', 'Syosset', 'NY', 11791)
(104, 'Katharina', 'Bates', None, 'katharina.bates@gmail.com', '54 South Greenview Drive ', 'Campbell', 'CA', 95008)
(105, 'Marget', 'Hodge', None, 'marget.hodge@msn.com', '7199 Selby Lane ', 'Woodhaven', 'NY', 11421)
(106, 'Raul', 'Melendez', None, 'raul.melendez@hotmail.com', '9772 Manhattan St. ', 'Elmhurst', 'NY', 11373)
(107, 'Cecil', 'Hopper', None, 'cecil.hopper@yahoo.com', '471 Glenlake Ave. ', 'Central Islip', 'NY', 11722)
(108, 'Shae', 'Hickman', None, 'shae.hickman@hotmail.com', '740 Pin Oak Street ', 'Floral Park', 'NY', 11001)
(109, 'Monica', 'Sears', '(408) 704-8863', 'monica.sears@aol.com', '57 Glenholme St. ', 'San Jose', 'CA', 95127)
(110, 'Ollie', 'Zimmerman', '(657) 648-2863', 'ollie.zimmerman@yahoo.com', '69 Wood Rd. ', 'Anaheim', 'CA', 92806)
(111, 'Shila', 'White', None, 'shila.white@msn.com', '94 Lakeshore Street ', 'Orchard Park', 'NY', 14127)
(112, 'Yuk', 'Vega', None, 'yuk.vega@yahoo.com', '413 Wood St. ', 'West Hempstead', 'NY', 11552)
(113, 'Eliana', 'Silva', None, 'eliana.silva@gmail.com', '7119 Summer Rd. ', 'Farmingdale', 'NY', 11735)
(114, 'Thalia', 'Horne', None, 'thalia.horne@yahoo.com', '9312 Harvard Street ', 'Amityville', 'NY', 11701)
(115, 'Rey', 'Lindsay', None, 'rey.lindsay@gmail.com', '16 Philmont St. ', 'Monroe', 'NY', 10950)
(116, 'Merlene', 'Vinson', None, 'merlene.vinson@gmail.com', '431 Vine Dr. ', 'Euless', 'TX', 76039)
(117, 'Dacia', 'William', None, 'dacia.william@msn.com', '62 Cypress Drive ', 'Sugar Land', 'TX', 77478)
(118, 'Le', 'Wood', None, 'le.wood@yahoo.com', '90 Primrose Dr. ', 'Pittsford', 'NY', 14534)
(119, 'Thalia', 'Dillard', None, 'thalia.dillard@yahoo.com', '987 NE. Gates Street ', 'San Angelo', 'TX', 76901)
(120, 'Luz', 'House', '(559) 114-2580', 'luz.house@gmail.com', '491 Railroad Street ', 'Fresno', 'CA', 93706)
(121, 'Lucy', 'Woods', None, 'lucy.woods@gmail.com', '8437 West Rockaway St. ', 'Palos Verdes Peninsula', 'CA', 90274)
(122, 'Shena', 'Carter', None, 'shena.carter@yahoo.com', '72 University Road ', 'Howard Beach', 'NY', 11414)
(123, 'Robena', 'Hill', '(361) 598-4414', 'robena.hill@hotmail.com', '263 Cross St. ', 'Corpus Christi', 'TX', 78418)
(124, 'Jeni', 'Booker', None, 'jeni.booker@gmail.com', '546 Railroad Dr. ', 'South El Monte', 'CA', 91733)
(125, 'Herlinda', 'Stone', None, 'herlinda.stone@msn.com', '725 Gulf St. ', 'Canandaigua', 'NY', 14424)
(126, 'Lavina', 'Dejesus', None, 'lavina.dejesus@msn.com', '59 E. Valley Avenue ', 'Newburgh', 'NY', 12550)
(127, 'Erlinda', 'Nielsen', None, 'erlinda.nielsen@aol.com', '728 Oxford Lane ', 'Maspeth', 'NY', 11378)
(128, 'Terrance', 'Lynn', None, 'terrance.lynn@yahoo.com', '91 East Buckingham Drive ', 'Plattsburgh', 'NY', 12901)
(129, 'Walton', 'Dejesus', None, 'walton.dejesus@yahoo.com', '15 Washington Rd. ', 'Lockport', 'NY', 14094)
(130, 'Wes', 'Stanton', '(248) 247-5074', 'wes.stanton@msn.com', '8662 Tunnel Street ', 'Troy', 'NY', 12180)
(131, 'Tanesha', 'Hampton', None, 'tanesha.hampton@hotmail.com', '19 Belmont Ave. ', 'Syosset', 'NY', 11791)
(132, 'Boyd', 'Irwin', None, 'boyd.irwin@hotmail.com', '221 Whitemarsh St. ', 'Hamburg', 'NY', 14075)
(133, 'Delbert', 'Wilkins', None, 'delbert.wilkins@aol.com', '420 Greenview St. ', 'Coram', 'NY', 11727)
(134, 'Brianna', 'Moss', '(516) 156-8031', 'brianna.moss@msn.com', '4 Longfellow St. ', 'Hempstead', 'NY', 11550)
(135, 'Dorthey', 'Jackson', '(281) 926-8010', 'dorthey.jackson@msn.com', '9768 Brookside St. ', 'Houston', 'TX', 77016)
(136, 'Sarita', 'Parks', None, 'sarita.parks@msn.com', '7809 Second Lane ', 'Forney', 'TX', 75126)
(137, 'Shonta', 'Mercer', None, 'shonta.mercer@aol.com', '319 NE. La Sierra Avenue ', 'Massapequa', 'NY', 11758)
(138, 'Jone', 'Bernard', '(657) 536-5165', 'jone.bernard@hotmail.com', '99 Longbranch Court ', 'Anaheim', 'CA', 92806)
(139, 'Wanita', 'Davenport', None, 'wanita.davenport@aol.com', '525 Dogwood Ave. ', 'Spring Valley', 'NY', 10977)
(140, 'Cleopatra', 'Tate', None, 'cleopatra.tate@aol.com', '97 N. Glenwood St. ', 'East Elmhurst', 'NY', 11369)
(141, 'Ramiro', 'Byers', None, 'ramiro.byers@gmail.com', '16 Pleasant St. ', 'Saint Albans', 'NY', 11412)
(142, 'Nicholas', 'Vazquez', None, 'nicholas.vazquez@hotmail.com', '9 Roosevelt Street ', 'West Hempstead', 'NY', 11552)
(143, 'Janae', 'Doyle', None, 'janae.doyle@gmail.com', '760 Rose Ave. ', 'Jackson Heights', 'NY', 11372)
(144, 'Hans', 'Price', None, 'hans.price@hotmail.com', '51 Glendale Road ', 'Port Chester', 'NY', 10573)
(145, 'Miquel', 'Neal', None, 'miquel.neal@hotmail.com', '9564 Deerfield Lane ', 'Staten Island', 'NY', 10301)
(146, 'Stefany', 'Potter', None, 'stefany.potter@gmail.com', '256 South Academy St. ', 'Saratoga Springs', 'NY', 12866)
(147, 'Bernetta', 'Marquez', None, 'bernetta.marquez@hotmail.com', '626 E. Dunbar Street ', 'Smithtown', 'NY', 11787)
(148, 'Julee', 'Woodard', None, 'julee.woodard@yahoo.com', '869 Summerhouse Dr. ', 'Richmond Hill', 'NY', 11418)
(149, 'Meredith', 'Bryan', None, 'meredith.bryan@hotmail.com', '8935 E. Oxford St. ', 'Spring Valley', 'NY', 10977)
(150, 'Weldon', 'Michael', None, 'weldon.michael@hotmail.com', '9952 Nut Swamp St. ', 'Huntington', 'NY', 11743)
(151, 'Joesph', 'Delacruz', None, 'joesph.delacruz@aol.com', '184 Cypress Street ', 'Atwater', 'CA', 95301)
(152, 'Katherina', 'Odom', None, 'katherina.odom@yahoo.com', '897 N. Oak Drive ', 'Plainview', 'NY', 11803)
(153, 'Laraine', 'Robbins', None, 'laraine.robbins@yahoo.com', '8214 E. Pin Oak Lane ', 'San Angelo', 'TX', 76901)
(154, 'Jenise', 'Preston', None, 'jenise.preston@yahoo.com', '9 Littleton Drive ', 'Helotes', 'TX', 78023)
(155, 'Lory', 'Page', None, 'lory.page@hotmail.com', '58 Summerhouse Street ', 'Bay Shore', 'NY', 11706)
(156, 'Charlyn', 'Cantrell', None, 'charlyn.cantrell@yahoo.com', '8756 Euclid St. ', 'West Islip', 'NY', 11795)
(157, 'Carola', 'Rodriquez', None, 'carola.rodriquez@hotmail.com', '9433 Heritage Lane ', 'Banning', 'CA', 92220)
(158, 'Alane', 'Kennedy', None, 'alane.kennedy@yahoo.com', '34 Green Lake Street ', 'Spring Valley', 'NY', 10977)
(159, 'Regina', 'Burns', None, 'regina.burns@aol.com', '713 Buckingham St. ', 'Garland', 'TX', 75043)
(160, 'Omer', 'Estrada', None, 'omer.estrada@gmail.com', '9 Honey Creek Street ', 'Rowlett', 'TX', 75088)
(161, 'Crystle', 'Gilliam', None, 'crystle.gilliam@yahoo.com', '86 Edgewater Road ', 'Smithtown', 'NY', 11787)
(162, 'Kam', 'Wilder', None, 'kam.wilder@hotmail.com', '500 West Clay Ave. ', 'Newburgh', 'NY', 12550)
(163, 'Margert', 'Stevens', None, 'margert.stevens@aol.com', '502 North Poplar St. ', 'Rome', 'NY', 13440)
(164, 'Tomika', 'Larson', None, 'tomika.larson@yahoo.com', '254 Canal St. ', 'Woodside', 'NY', 11377)
(165, 'Jeromy', 'Burch', '(408) 955-8238', 'jeromy.burch@msn.com', '889 Mulberry Street ', 'San Jose', 'CA', 95127)
(166, 'Lena', 'Mills', None, 'lena.mills@yahoo.com', '42 Homestead St. ', 'Woodhaven', 'NY', 11421)
(167, 'Loreta', 'Johnston', None, 'loreta.johnston@yahoo.com', '39 Lafayette Dr. ', 'Spring Valley', 'NY', 10977)
(168, 'Nettie', 'Mcdaniel', None, 'nettie.mcdaniel@hotmail.com', '7004 E. Wakehurst St. ', 'South Ozone Park', 'NY', 11420)
(169, 'Karla', 'Kirk', None, 'karla.kirk@yahoo.com', '9718 Harvard Rd. ', 'Palos Verdes Peninsula', 'CA', 90274)
(170, 'Regine', 'Gonzales', '(805) 763-4045', 'regine.gonzales@gmail.com', '798 Court Drive ', 'Oxnard', 'CA', 93035)
(171, 'Miriam', 'Baker', None, 'miriam.baker@hotmail.com', '90 Studebaker St. ', 'Uniondale', 'NY', 11553)
(172, 'Jeanie', 'Kirkland', None, 'jeanie.kirkland@aol.com', '7643 Old Theatre St. ', 'Santa Clara', 'CA', 95050)
(173, 'Marquerite', 'Dawson', None, 'marquerite.dawson@gmail.com', '37 Hamilton Court ', 'Garland', 'TX', 75043)
(174, 'Babara', 'Ochoa', None, 'babara.ochoa@aol.com', '872 Smith Store St. ', 'Scarsdale', 'NY', 10583)
(175, 'Nova', 'Hess', None, 'nova.hess@msn.com', '773 South Lafayette St. ', 'Duarte', 'CA', 91010)
(176, 'Carley', 'Reynolds', None, 'carley.reynolds@gmail.com', '2 Snake Hill Drive ', 'South El Monte', 'CA', 91733)
(177, 'Carissa', 'Foreman', None, 'carissa.foreman@msn.com', '69C N. Ridge Rd. ', 'Maspeth', 'NY', 11378)
(178, 'Genoveva', 'Tyler', '(212) 152-6381', 'genoveva.tyler@gmail.com', '8121 Windfall Ave. ', 'New York', 'NY', 10002)
(179, 'Deane', 'Sears', None, 'deane.sears@hotmail.com', '3 Bradford Court ', 'Pittsford', 'NY', 14534)
(180, 'Karey', 'Steele', None, 'karey.steele@gmail.com', '8879 Kent Lane ', 'Farmingdale', 'NY', 11735)

##### A quick, more managable, and structured look into the data.

In [85]:
query = 'SELECT * FROM customers LIMIT 10'

df = pd.read_sql_query(query, connection)
df

,customer_id,first_name,last_name,phone,email,street,city,state,zip_code
0,1,Debra,Burks,None,debra.burks@yahoo.com,9273 Thorne Ave.,Orchard Park,NY,14127
1,2,Kasha,Todd,None,kasha.todd@yahoo.com,910 Vine Street,Campbell,CA,95008
2,3,Tameka,Fisher,None,tameka.fisher@aol.com,769C Honey Creek St.,Redondo Beach,CA,90278
3,4,Daryl,Spence,None,daryl.spence@aol.com,988 Pearl Lane,Uniondale,NY,11553
4,5,Charolette,Rice,(916) 381-6003,charolette.rice@msn.com,107 River Dr.,Sacramento,CA,95820
5,6,Lyndsey,Bean,None,lyndsey.bean@hotmail.com,769 West Road,Fairport,NY,14450
6,7,Latasha,Hays,(716) 986-3359,latasha.hays@hotmail.com,7014 Manor Station Rd.,Buffalo,NY,14215
7,8,Jacquline,Duncan,None,jacquline.duncan@yahoo.com,15 Brown St.,Jackson Heights,NY,11372
8,9,Genoveva,Baldwin,None,genoveva.baldwin@msn.com,8550 Spruce Drive,Port Washington,NY,11050
9,10,Pamelia,Newman,None,pamelia.newman@gmail.com,476 Chestnut Ave.,Monroe,NY,10950

In [ ]:
query = 'SELECT * FROM orders LIMIT 10'

df = pd.read_sql_query(query, connection)
df

,order_id,customer_id,order_status,order_date,required_date,shipped_date,store_id,staff_id
0,1,259,4,2016-01-01,2016-01-03,2016-01-03,1,2
1,2,1212,4,2016-01-01,2016-01-04,2016-01-03,2,6
2,3,523,4,2016-01-02,2016-01-05,2016-01-03,2,7
3,4,175,4,2016-01-03,2016-01-04,2016-01-05,1,3
4,5,1324,4,2016-01-03,2016-01-06,2016-01-06,2,6
5,6,94,4,2016-01-04,2016-01-07,2016-01-05,2,6
6,7,324,4,2016-01-04,2016-01-07,2016-01-05,2,6
7,8,1204,4,2016-01-04,2016-01-05,2016-01-05,2,7
8,9,60,4,2016-01-05,2016-01-08,2016-01-08,1,2
9,10,442,4,2016-01-05,2016-01-06,2016-01-06,2,6

In [ ]:
query = 'SELECT * FROM staffs'

df = pd.read_sql_query(query, connection)
df

In [ ]:
query = '''SELECT * FROM stores 
         LIMIT 10'''

df = pd.read_sql_query(query, connection)
df

In [ ]:
query = 'SELECT * FROM order_items LIMIT 10'

df = pd.read_sql_query(query, connection)
df

In [ ]:
query = 'SELECT * FROM categories LIMIT 10'

df = pd.read_sql_query(query, connection)
df

In [ ]:
query =  '''SELECT * FROM products 
         LIMIT 10'''

df = pd.read_sql_query(query, connection)
df

In [ ]:
query = 'SELECT * FROM stocks LIMIT 10'

df = pd.read_sql_query(query, connection)
df

In [ ]:
query = 'SELECT * FROM brands LIMIT 10'

df = pd.read_sql_query(query, connection)
df

### SQL Analysis

##### Looking at all unique items in stores

In [ ]:
query = '''SELECT DISTINCT product_name FROM products'''

df = pd.read_sql_query(query, connection)
df

##### A look into staffing

In [ ]:
query = 'SELECT * FROM staffs'

df = pd.read_sql_query(query, connection)
df

In [ ]:
query = '''SELECT store_id, COUNT(active) FROM staffS
        GROUP BY store_id'''

df = pd.read_sql_query(query, connection)
df

In [ ]:
query = '''SELECT COUNT(DISTINCT staff_id) FROM staffs 
            WHERE active = 1'''

df = pd.read_sql_query(query, connection)
df

In [ ]:
query = '''SELECT COUNT(*) AS num_employees FROM staffs 
            GROUP BY store_id'''

df = pd.read_sql_query(query, connection)
df

In [ ]:
query = '''with staff_sales AS
            (SELECT st.staff_id,
                    st.first_name,
                    st.last_name,
                    ot.order_id,
                    ot.store_id,
                    ot.staff_id,
                    oi.product_id,
                    oi.quantity,
                    oi.list_price,
                    oi.discount,
                    ((oi.quantity * oi.list_price) * (1 - oi.discount)) AS total_gross_sale FROM staffs AS st
             
            LEFT JOIN orders AS ot
            ON st.staff_id = ot.staff_id
            LEFT JOIN order_items AS oi               
            ON ot.order_id = oi.order_id)
                    
            SELECT staff_id, first_name, last_name, SUM(total_gross_sale) AS total_net, SUM(quantity) AS units FROM staff_sales
            GROUP BY staff_id
            ORDER BY total_net DESC'''

df = pd.read_sql_query(query, connection)
df

In [ ]:
query = '''with staff_sales AS
            (SELECT st.staff_id,
                    st.first_name,
                    st.last_name,
                    ot.order_id,
                    ot.store_id,
                    ot.staff_id,
                    oi.product_id,
                    oi.quantity,
                    oi.list_price,
                    oi.discount,
                    ((oi.quantity * oi.list_price) * (1 - oi.discount)) 
                    
            AS total_gross_sale FROM staffs AS st
            LEFT JOIN orders AS ot
            ON st.staff_id = ot.staff_id
            LEFT JOIN order_items AS oi               
            ON ot.order_id = oi.order_id)
                    
            SELECT store_id, SUM(quantity) AS units_sold FROM staff_sales
            GROUP BY store_id
            ORDER BY units_sold DESC'''

df = pd.read_sql_query(query, connection)
df

##### Store Info

In [ ]:
query = 'SELECT * FROM stores'

df = pd.read_sql_query(query, connection)
df

In [ ]:
query = '''with store_stats AS
            (SELECT pr.product_id,
                    br.brand_name,
                    pr.model_year,
                    pr.list_price,
                    st.store_id,
                    st.quantity, 
                    ct.category_id,
                    ct.category_name
            FROM products AS pr
            LEFT JOIN stocks AS st
            ON pr.product_id = st.product_id
            LEFT JOIN categories AS ct
            ON pr.category_id = ct.category_id
            LEFT JOIN brands AS br
            ON pr.brand_id = br.brand_id)
            
            SELECT product_id, brand_name, store_id, quantity, category_name FROM store_stats
            WHERE category_id = 2
            GROUP BY product_id, store_id
            ORDER BY quantity DESC
            '''

df = pd.read_sql_query(query, connection)
df

##### Customer Info

In [ ]:
query = '''SELECT first_name, last_name FROM customers
            ORDER BY last_name;'''

df = pd.read_sql_query(query, connection)
df

In [ ]:
query = '''SELECT DISTINCT last_name FROM customers 
ORDER BY last_name DESC;'''

df = pd.read_sql_query(query, connection)
df

In [ ]:
query = '''SELECT * FROM customers WHERE state IN ('NY', 'CA') LIMIT 10'''

df = pd.read_sql_query(query, connection)
df

In [ ]:
query = '''SELECT * FROM customers WHERE state IN ('CA', 'NY') AND phone IS NOT NULL LIMIT 10'''

df = pd.read_sql_query(query, connection)
df

In [ ]:
query = '''SELECT * FROM customers WHERE state NOT IN ('CA', 'NY') AND phone IS NOT NULL LIMIT 10'''

df = pd.read_sql_query(query, connection)
df

##### Common Table Expression querying total ampunt spent by customer id

In [ ]:
query = '''with customer_transactions AS 
                (SELECT c.first_name,
                        c.last_name,
                        c.email,
                        c.state,
                        c.customer_id,
                        o.order_status,
                        o.order_date,
                        oi.item_id,
                        oi.quantity,
                        ((oi.quantity * oi.list_price) * (1 - oi.discount)) 
                        AS total_sales_price FROM customers AS c
                        LEFT JOIN orders AS o 
                        ON c.customer_id = o.customer_id
                        LEFT JOIN order_items AS oi 
                        ON o.order_id = oi.order_id)
                        
                SELECT customer_id, first_name, last_name, state, SUM(quantity) AS units, total_sales_price
                FROM customer_transactions
                GROUP BY customer_id
                ORDER BY total_sales_price DESC'''

df = pd.read_sql_query(query, connection)
df

##### Most Valuable Customers

In [109]:
query = '''with total_spent AS
                (SELECT oi.order_id,
                ot.customer_id,
                c.first_name,
                c.last_name,
                ot.order_date,
                oi.product_id,
                oi.quantity,
                oi.list_price,
                oi.discount,
                ((oi.quantity * oi.list_price) * (1 - oi.discount)) AS total_sale_product
            
            FROM order_items as oi
            LEFT JOIN orders as ot
            ON oi.order_id = ot.order_id
            LEFT JOIN customers AS c
            ON ot.customer_id = c.customer_id)
            
            
            SELECT customer_id, first_name, last_name, ROUND(SUM(total_sale_product), 2) AS total_spent FROM total_spent
            GROUP BY customer_id, first_name, last_name 
            ORDER BY total_spent DESC
            LIMIT 10;'''

df = pd.read_sql_query(query, connection)
df

   customer_id first_name last_name  total_spent
0           94     Sharyn   Hopkins     34807.94
1           10    Pamelia    Newman     33634.26
2           75       Abby    Gamble     32803.01
3            6    Lyndsey      Bean     32675.07
4           16     Emmitt   Sanchez     31925.89
5           73    Melanie     Hayes     31913.69
6            1      Debra     Burks     27888.18
7           61    Elinore   Aguilar     25636.45
8           93    Corrina    Sawyer     25612.70
9          122      Shena    Carter     24890.62

##### Most Profitable Months

In [110]:
query = '''with total_sale AS 
            (SELECT ot.order_date, oi.product_id, oi.quantity, oi.list_price, oi.discount, 
            ((oi.quantity * oi.list_price) * (1 - oi.discount)) 
            AS total_product_sale FROM order_items AS oi
            LEFT JOIN orders AS ot ON oi.order_id = ot.order_id)
            
            SELECT strftime('%Y', order_date) AS year,
                SUM(total_product_sale) AS total_revenue
            FROM total_sale
            GROUP BY year
            ORDER BY total_revenue DESC'''

df = pd.read_sql_query(query, connection)
df

   year  total_revenue
0  2017   3.447208e+06
1  2016   2.427379e+06
2  2018   1.814530e+06

In [111]:
query = '''with total_sale AS 
            (SELECT ot.order_date, oi.product_id, oi.quantity, oi.list_price, oi.discount, 
            ((oi.quantity * oi.list_price) * (1 - oi.discount)) 
            AS total_product_sale FROM order_items AS oi
            LEFT JOIN orders AS ot ON oi.order_id = ot.order_id)

            SELECT strftime('%m', order_date) AS month,
            SUM(total_product_sale) AS total_revenue
            
            FROM total_sale
            GROUP BY month
            ORDER BY total_revenue DESC'''

df = pd.read_sql_query(query, connection)
df

   month  total_revenue
0     04   1.212357e+06
1     01   8.821930e+05
2     03   8.535032e+05
3     02   6.696941e+05
4     06   5.896168e+05
5     09   5.754608e+05
6     10   5.261875e+05
7     08   5.245886e+05
8     11   4.752693e+05
9     05   4.735032e+05
10    12   4.658529e+05
11    07   4.408901e+05

##### Product Insight

In [112]:
query = '''SELECT * FROM products'''

df = pd.read_sql_query(query, connection)
df

,product_id,product_name,brand_id,category_id,model_year,list_price
0,1,Trek 820 - 2016,9,6,2016,379.99
1,2,Ritchey Timberwolf Frameset - 2016,5,6,2016,749.99
2,3,Surly Wednesday Frameset - 2016,8,6,2016,999.99
3,4,Trek Fuel EX 8 29 - 2016,9,6,2016,2899.99
4,5,Heller Shagamaw Frame - 2016,3,6,2016,1320.99
...,...,...,...,...,...,...
316,317,Trek Checkpoint ALR 5 - 2019,9,7,2019,1999.99
317,318,Trek Checkpoint ALR 5 Women's - 2019,9,7,2019,1999.99
318,319,Trek Checkpoint SL 5 Women's - 2019,9,7,2019,2799.99
319,320,Trek Checkpoint SL 6 - 2019,9,7,2019,3799.99
320,321,Trek Checkpoint ALR Frameset - 2019,9,7,2019,3199.99

In [113]:
query = '''SELECT * FROM products 
            WHERE model_year = 2019
            ORDER BY list_price DESC'''

df = pd.read_sql_query(query, connection)
df

,product_id,product_name,brand_id,category_id,model_year,list_price
0,320,Trek Checkpoint SL 6 - 2019,9,7,2019,3799.99
1,321,Trek Checkpoint ALR Frameset - 2019,9,7,2019,3199.99
2,319,Trek Checkpoint SL 5 Women's - 2019,9,7,2019,2799.99
3,317,Trek Checkpoint ALR 5 - 2019,9,7,2019,1999.99
4,318,Trek Checkpoint ALR 5 Women's - 2019,9,7,2019,1999.99
5,316,Trek Checkpoint ALR 4 Women's - 2019,9,7,2019,1699.99

In [114]:
query = '''SELECT * FROM products 
            ORDER BY list_price DESC'''

df = pd.read_sql_query(query, connection)
df

,product_id,product_name,brand_id,category_id,model_year,list_price
0,155,Trek Domane SLR 9 Disc - 2018,9,7,2018,11999.99
1,149,Trek Domane SLR 8 Disc - 2018,9,7,2018,7499.99
2,51,Trek Silque SLR 8 Women's - 2017,9,7,2017,6499.99
3,156,Trek Domane SL Frameset - 2018,9,7,2018,6499.99
4,157,Trek Domane SL Frameset Women's - 2018,9,7,2018,6499.99
...,...,...,...,...,...,...
316,268,Trek Kickster - 2018,9,1,2018,159.99
317,83,Trek Boy's Kickster - 2015/2017,9,1,2017,149.99
318,86,Trek Girl's Kickster - 2017,9,1,2017,149.99
319,84,Sun Bicycles Lil Kitt'n - 2017,7,1,2017,109.99
320,263,Strider Classic 12 Balance Bike - 2018,6,1,2018,89.99

In [115]:
query = '''SELECT * FROM orders
            LEFT JOIN order_items ON orders.order_id = order_items.order_id;'''

df = pd.read_sql_query(query, connection)
df

,order_id,customer_id,order_status,order_date,required_date,shipped_date,store_id,staff_id,order_id,item_id,product_id,quantity,list_price,discount
0,1,259,4,2016-01-01,2016-01-03,2016-01-03,1,2,1,1,20,1,599.99,0.20
1,1,259,4,2016-01-01,2016-01-03,2016-01-03,1,2,1,2,8,2,1799.99,0.07
2,1,259,4,2016-01-01,2016-01-03,2016-01-03,1,2,1,3,10,2,1549.00,0.05
3,1,259,4,2016-01-01,2016-01-03,2016-01-03,1,2,1,4,16,2,599.99,0.05
4,1,259,4,2016-01-01,2016-01-03,2016-01-03,1,2,1,5,4,1,2899.99,0.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4717,1614,135,3,2018-11-28,2018-11-28,None,3,8,1614,2,159,2,2299.99,0.07
4718,1614,135,3,2018-11-28,2018-11-28,None,3,8,1614,3,213,2,269.99,0.20
4719,1615,136,3,2018-12-28,2018-12-28,None,3,8,1615,1,197,2,2299.99,0.20
4720,1615,136,3,2018-12-28,2018-12-28,None,3,8,1615,2,214,1,899.99,0.07
4721,1615,136,3,2018-12-28,2018-12-28,None,3,8,1615,3,182,1,2499.99,0.20

In [116]:
query = '''SELECT * FROM orders
            LEFT JOIN order_items ON orders.order_id = order_items.order_id
            ORDER BY list_price DESC
            LIMIT 10;'''

df = pd.read_sql_query(query, connection)
df

,order_id,customer_id,order_status,order_date,required_date,shipped_date,store_id,staff_id,order_id,item_id,product_id,quantity,list_price,discount
0,1364,122,4,2018-01-25,2018-01-28,2018-01-28,2,6,1364,2,155,2,11999.99,0.10
1,1541,10,2,2018-04-16,2018-04-16,None,2,7,1541,1,155,2,11999.99,0.10
2,1570,54,2,2018-04-22,2018-04-22,None,2,7,1570,1,155,1,11999.99,0.07
3,1355,1010,4,2018-01-19,2018-01-21,2018-01-20,2,7,1355,3,149,1,7499.99,0.20
4,1439,463,4,2018-03-15,2018-03-16,2018-03-17,2,7,1439,4,149,1,7499.99,0.05
5,1506,75,1,2018-04-08,2018-04-08,None,2,7,1506,3,149,2,7499.99,0.05
6,672,908,4,2017-01-26,2017-01-29,2017-01-29,2,6,672,1,51,2,6499.99,0.07
7,787,700,4,2017-03-18,2017-03-20,2017-03-19,3,9,787,1,51,2,6499.99,0.07
8,837,948,4,2017-04-13,2017-04-16,2017-04-14,2,7,837,1,51,1,6499.99,0.05
9,904,1020,4,2017-05-23,2017-05-26,2017-05-24,1,2,904,2,51,2,6499.99,0.07

In [117]:
query = '''SELECT SUM(quantity) AS total_items_ordered FROM order_items;'''

df = pd.read_sql_query(query, connection)
df

   total_items_ordered
0                 7078

In [118]:
query = '''SELECT AVG(list_price) AS average_price FROM order_items;'''

df = pd.read_sql_query(query, connection)
df

   average_price
0    1212.707872

In [119]:
query = 'SELECT * FROM orders LIMIT 10'

df = pd.read_sql_query(query, connection)
df

,order_id,customer_id,order_status,order_date,required_date,shipped_date,store_id,staff_id
0,1,259,4,2016-01-01,2016-01-03,2016-01-03,1,2
1,2,1212,4,2016-01-01,2016-01-04,2016-01-03,2,6
2,3,523,4,2016-01-02,2016-01-05,2016-01-03,2,7
3,4,175,4,2016-01-03,2016-01-04,2016-01-05,1,3
4,5,1324,4,2016-01-03,2016-01-06,2016-01-06,2,6
5,6,94,4,2016-01-04,2016-01-07,2016-01-05,2,6
6,7,324,4,2016-01-04,2016-01-07,2016-01-05,2,6
7,8,1204,4,2016-01-04,2016-01-05,2016-01-05,2,7
8,9,60,4,2016-01-05,2016-01-08,2016-01-08,1,2
9,10,442,4,2016-01-05,2016-01-06,2016-01-06,2,6

In [120]:
query = 'SELECT COUNT(DISTINCT(customer_id)) AS unique_customers FROM orders' 

df = pd.read_sql_query(query, connection)
df

   unique_customers
0              1445

In [121]:
query = '''SELECT customer_id, COUNT(customer_id) AS orders_by_customer FROM orders
        GROUP BY customer_id
        ORDER BY orders_by_customer DESC'''

df = pd.read_sql_query(query, connection)
df

      customer_id  orders_by_customer
0             116                   3
1              77                   3
2              68                   3
3              66                   3
4              64                   3
...           ...                 ...
1440          100                   1
1441           99                   1
1442           98                   1
1443           96                   1
1444           95                   1

[1445 rows x 2 columns]

In [122]:
query = '''SELECT customer_id, store_id, order_date, order_status, list_price FROM orders
            JOIN order_items ON orders.order_id = order_items.order_id
            ORDER BY list_price DESC'''

df = pd.read_sql_query(query, connection)
df

      customer_id  store_id  order_date  order_status  list_price
0             122         2  2018-01-25             4    11999.99
1              10         2  2018-04-16             2    11999.99
2              54         2  2018-04-22             2    11999.99
3            1010         2  2018-01-19             4     7499.99
4             463         2  2018-03-15             4     7499.99
...           ...       ...         ...           ...         ...
4717          126         2  2018-03-07             4       89.99
4718          463         2  2018-03-15             4       89.99
4719         1101         2  2018-03-22             4       89.99
4720           66         3  2018-04-11             2       89.99
4721           24         1  2018-04-23             2       89.99

[4722 rows x 5 columns]

In [123]:
query = '''SELECT * FROM Products;'''

df = pd.read_sql_query(query, connection)
df

,product_id,product_name,brand_id,category_id,model_year,list_price
0,1,Trek 820 - 2016,9,6,2016,379.99
1,2,Ritchey Timberwolf Frameset - 2016,5,6,2016,749.99
2,3,Surly Wednesday Frameset - 2016,8,6,2016,999.99
3,4,Trek Fuel EX 8 29 - 2016,9,6,2016,2899.99
4,5,Heller Shagamaw Frame - 2016,3,6,2016,1320.99
...,...,...,...,...,...,...
316,317,Trek Checkpoint ALR 5 - 2019,9,7,2019,1999.99
317,318,Trek Checkpoint ALR 5 Women's - 2019,9,7,2019,1999.99
318,319,Trek Checkpoint SL 5 Women's - 2019,9,7,2019,2799.99
319,320,Trek Checkpoint SL 6 - 2019,9,7,2019,3799.99
320,321,Trek Checkpoint ALR Frameset - 2019,9,7,2019,3199.99

In [124]:
query = '''SELECT * FROM Products
            ORDER BY list_price DESC;'''

df = pd.read_sql_query(query, connection)
df

,product_id,product_name,brand_id,category_id,model_year,list_price
0,155,Trek Domane SLR 9 Disc - 2018,9,7,2018,11999.99
1,149,Trek Domane SLR 8 Disc - 2018,9,7,2018,7499.99
2,51,Trek Silque SLR 8 Women's - 2017,9,7,2017,6499.99
3,156,Trek Domane SL Frameset - 2018,9,7,2018,6499.99
4,157,Trek Domane SL Frameset Women's - 2018,9,7,2018,6499.99
...,...,...,...,...,...,...
316,268,Trek Kickster - 2018,9,1,2018,159.99
317,83,Trek Boy's Kickster - 2015/2017,9,1,2017,149.99
318,86,Trek Girl's Kickster - 2017,9,1,2017,149.99
319,84,Sun Bicycles Lil Kitt'n - 2017,7,1,2017,109.99
320,263,Strider Classic 12 Balance Bike - 2018,6,1,2018,89.99

In [125]:
query = '''SELECT * FROM categories'''

df = pd.read_sql_query(query, connection)
df

   category_id        category_name
0            1    Children Bicycles
1            2     Comfort Bicycles
2            3    Cruisers Bicycles
3            4  Cyclocross Bicycles
4            5       Electric Bikes
5            6       Mountain Bikes
6            7           Road Bikes

In [126]:
query = '''SELECT * FROM Products
            WHERE category_id = 5 OR category_id = 6 OR category_id = 7
            ORDER BY list_price DESC;'''

df = pd.read_sql_query(query, connection)
df

,product_id,product_name,brand_id,category_id,model_year,list_price
0,155,Trek Domane SLR 9 Disc - 2018,9,7,2018,11999.99
1,149,Trek Domane SLR 8 Disc - 2018,9,7,2018,7499.99
2,51,Trek Silque SLR 8 Women's - 2017,9,7,2017,6499.99
3,156,Trek Domane SL Frameset - 2018,9,7,2018,6499.99
4,157,Trek Domane SL Frameset Women's - 2018,9,7,2018,6499.99
...,...,...,...,...,...,...
139,126,Surly Big Fat Dummy Frameset - 2018,8,6,2018,469.99
140,127,Surly Pack Rat Frameset - 2018,8,6,2018,469.99
141,1,Trek 820 - 2016,9,6,2016,379.99
142,37,Haro Flightline One ST - 2017,2,6,2017,379.99
143,112,Trek 820 - 2018,9,6,2018,379.99

In [127]:
query = '''SELECT customer_id, first_name, last_name, email, state FROM customers
            WHERE customer_id = 122 OR customer_id = 10 OR customer_id = 54'''

df = pd.read_sql_query(query, connection)
df

   customer_id first_name last_name                     email state
0           10    Pamelia    Newman  pamelia.newman@gmail.com    NY
1           54       Fran      Yang     fran.yang@hotmail.com    NY
2          122      Shena    Carter    shena.carter@yahoo.com    NY

In [128]:
query = '''SELECT * FROM orders 
            INNER JOIN customers on orders.customer_id = customers.customer_id LIMIT 10'''

df = pd.read_sql_query(query, connection)
df

,order_id,customer_id,order_status,order_date,required_date,shipped_date,store_id,staff_id,customer_id,first_name,last_name,phone,email,street,city,state,zip_code
0,1,259,4,2016-01-01,2016-01-03,2016-01-03,1,2,259,Johnathan,Velazquez,None,johnathan.velazquez@hotmail.com,9680 E. Somerset Street,Pleasanton,CA,94566
1,2,1212,4,2016-01-01,2016-01-04,2016-01-03,2,6,1212,Jaqueline,Cummings,None,jaqueline.cummings@hotmail.com,478 Wrangler St.,Huntington Station,NY,11746
2,3,523,4,2016-01-02,2016-01-05,2016-01-03,2,7,523,Joshua,Robertson,None,joshua.robertson@gmail.com,81 Campfire Court,Patchogue,NY,11772
3,4,175,4,2016-01-03,2016-01-04,2016-01-05,1,3,175,Nova,Hess,None,nova.hess@msn.com,773 South Lafayette St.,Duarte,CA,91010
4,5,1324,4,2016-01-03,2016-01-06,2016-01-06,2,6,1324,Arla,Ellis,None,arla.ellis@yahoo.com,127 Crescent Ave.,Utica,NY,13501
5,6,94,4,2016-01-04,2016-01-07,2016-01-05,2,6,94,Sharyn,Hopkins,None,sharyn.hopkins@hotmail.com,4 South Temple Ave.,Baldwinsville,NY,13027
6,7,324,4,2016-01-04,2016-01-07,2016-01-05,2,6,324,Laureen,Paul,None,laureen.paul@yahoo.com,617 Squaw Creek Rd.,Bellmore,NY,11710
7,8,1204,4,2016-01-04,2016-01-05,2016-01-05,2,7,1204,Leslie,Higgins,None,leslie.higgins@hotmail.com,805 Logan Ave.,Saratoga Springs,NY,12866
8,9,60,4,2016-01-05,2016-01-08,2016-01-08,1,2,60,Neil,Mccall,None,neil.mccall@gmail.com,7476 Oakland Dr.,San Carlos,CA,94070
9,10,442,4,2016-01-05,2016-01-06,2016-01-06,2,6,442,Alane,Munoz,(914) 706-7576,alane.munoz@gmail.com,8 Strawberry Dr.,Yonkers,NY,10701

##### Comparing store sales

In [129]:
query = ''' 
        with total_revenue AS 
        (SELECT oi.order_id,  
                ot.store_id,
                s.store_name,
                ot.order_date, 
                oi.product_id,
                oi.quantity, 
                oi.list_price, 
                oi.discount, 
                ((oi.quantity * oi.list_price) * (1-oi.discount)) AS total_sale_product
        FROM order_items as oi
        LEFT JOIN orders as ot
        ON oi.order_id = ot.order_id 
        LEFT JOIN stores as s
        ON ot.store_id = s.store_id)
        
        SELECT store_name, 
               SUM(total_sale_product) as revenue,
               ROUND((SUM(total_sale_product) / ((SELECT SUM(total_sale_product) FROM total_revenue))*100),2) as percentage
        FROM total_revenue
        GROUP BY store_id
        ORDER BY revenue DESC'''

In [130]:
df = pd.read_sql_query(query, connection)
df

         store_name       revenue  percentage
0     Baldwin Bikes  5.215751e+06       67.83
1  Santa Cruz Bikes  1.605823e+06       20.88
2     Rowlett Bikes  8.675422e+05       11.28

### Inventory Sorting

In [131]:
query = '''
        with total_inventory AS
        (SELECT sto.store_id,
                sto.product_id,
                sto.quantity, 
                pro.product_name,
                pro.list_price,
                pro.brand_id,
                bra.brand_id, 
                bra.brand_name
        FROM stocks as sto
        LEFT JOIN products as pro
        ON sto.product_id = pro.product_id
        LEFT JOIN brands as bra
        ON pro.brand_id = bra.brand_id)
        
        SELECT * FROM total_inventory'''

df = pd.read_sql_query(query, connection)
df

,store_id,product_id,quantity,product_name,list_price,brand_id,brand_id:1,brand_name
0,1,1,27,Trek 820 - 2016,379.99,9,9,Trek
1,1,2,5,Ritchey Timberwolf Frameset - 2016,749.99,5,5,Ritchey
2,1,3,6,Surly Wednesday Frameset - 2016,999.99,8,8,Surly
3,1,4,23,Trek Fuel EX 8 29 - 2016,2899.99,9,9,Trek
4,1,5,22,Heller Shagamaw Frame - 2016,1320.99,3,3,Heller
...,...,...,...,...,...,...,...,...
934,3,309,30,Electra Townie Commute 27D - 2018,899.99,1,1,Electra
935,3,310,8,Electra Townie Commute 27D Ladies - 2018,899.99,1,1,Electra
936,3,311,23,Electra Townie Commute 8D - 2018,749.99,1,1,Electra
937,3,312,18,Electra Townie Commute 8D Ladies' - 2018,699.99,1,1,Electra
938,3,313,0,Electra Townie Original 1 Ladies' - 2018,449.99,1,1,Electra

In [132]:
query = '''
        with total_inventory AS
        (SELECT sto.store_id,
                sto.product_id,
                sto.quantity, 
                pro.product_name,
                pro.list_price,
                pro.brand_id,
                bra.brand_id, 
                bra.brand_name
        FROM stocks as sto
        LEFT JOIN products as pro
        ON sto.product_id = pro.product_id
        LEFT JOIN brands as bra
        ON pro.brand_id = bra.brand_id)
        
        SELECT store_id, product_name, brand_name, brand_id, (quantity * list_price) AS inventory_value 
        FROM total_inventory
        GROUP BY product_id
        ORDER BY inventory_value DESC'''

df = pd.read_sql_query(query, connection)
df

,store_id,product_name,brand_name,brand_id,inventory_value
0,1,Trek Silque SLR 7 Women's - 2017,Trek,9,173999.71
1,1,Trek Emonda SLR 8 - 2018,Trek,9,162499.75
2,1,Trek Domane SL Frameset Women's - 2018,Trek,9,162499.75
3,1,Trek Powerfly 8 FS Plus - 2017,Trek,9,149999.70
4,1,Trek Domane SL 7 Women's - 2018,Trek,9,124999.75
...,...,...,...,...,...
308,1,Haro Shredder 20 - 2017,Haro,2,0.00
309,1,Trek Fuel EX 5 27.5 Plus - 2017,Trek,9,0.00
310,1,Trek Farley Alloy Frameset - 2017,Trek,9,0.00
311,1,Trek Remedy 29 Carbon Frameset - 2016,Trek,9,0.00
312,1,Surly Ice Cream Truck Frameset - 2016,Surly,8,0.00

In [133]:
query = '''
        with total_inventory AS
        (SELECT sto.store_id,
                sto.product_id,
                sto.quantity, 
                pro.product_name,
                pro.list_price,
                pro.brand_id,
                bra.brand_id, 
                bra.brand_name,
                (quantity * list_price) AS inventory_value 
        FROM stocks as sto
        LEFT JOIN products as pro
        ON sto.product_id = pro.product_id
        LEFT JOIN brands as bra
        ON pro.brand_id = bra.brand_id)
        
        SELECT store_id, product_name, brand_name, brand_id, inventory_value
        FROM total_inventory
        GROUP BY store_id
        ORDER BY inventory_value DESC'''

df = pd.read_sql_query(query, connection)
df

   store_id     product_name brand_name  brand_id  inventory_value
0         1  Trek 820 - 2016       Trek         9         10259.73
1         3  Trek 820 - 2016       Trek         9          5319.86
2         2  Trek 820 - 2016       Trek         9          5319.86

In [134]:
query = '''
        with total_inventory AS
        (SELECT sto.store_id,
                sto.product_id,
                sto.quantity, 
                pro.product_name,
                pro.list_price,
                pro.brand_id,
                bra.brand_id, 
                bra.brand_name,
                (quantity * list_price) AS inventory_value 
        FROM stocks as sto
        LEFT JOIN products as pro
        ON sto.product_id = pro.product_id
        LEFT JOIN brands as bra
        ON pro.brand_id = bra.brand_id)
        
        SELECT *
        FROM total_inventory
        '''

df = pd.read_sql_query(query, connection)
df

,store_id,product_id,quantity,product_name,list_price,brand_id,brand_id:1,brand_name,inventory_value
0,1,1,27,Trek 820 - 2016,379.99,9,9,Trek,10259.73
1,1,2,5,Ritchey Timberwolf Frameset - 2016,749.99,5,5,Ritchey,3749.95
2,1,3,6,Surly Wednesday Frameset - 2016,999.99,8,8,Surly,5999.94
3,1,4,23,Trek Fuel EX 8 29 - 2016,2899.99,9,9,Trek,66699.77
4,1,5,22,Heller Shagamaw Frame - 2016,1320.99,3,3,Heller,29061.78
...,...,...,...,...,...,...,...,...,...
934,3,309,30,Electra Townie Commute 27D - 2018,899.99,1,1,Electra,26999.70
935,3,310,8,Electra Townie Commute 27D Ladies - 2018,899.99,1,1,Electra,7199.92
936,3,311,23,Electra Townie Commute 8D - 2018,749.99,1,1,Electra,17249.77
937,3,312,18,Electra Townie Commute 8D Ladies' - 2018,699.99,1,1,Electra,12599.82
938,3,313,0,Electra Townie Original 1 Ladies' - 2018,449.99,1,1,Electra,0.00

### Most sold products

In [135]:
query = ''' 
        WITH total_sales AS (
                    SELECT ot.order_date,
                           oi.product_id,
                           p.product_name,
                           oi.quantity, 
                           oi.list_price, 
                           oi.discount, 
                           ((oi.quantity * oi.list_price) * (1 - oi.discount)) AS total_sale_product
                    FROM order_items AS oi
                    LEFT JOIN products AS p 
                    ON oi.product_id = p.product_id
                    LEFT JOIN orders as ot
                    ON oi.order_id = ot.order_id)
                    
        SELECT product_name, SUM(quantity) AS quantity_sold, SUM(total_sale_product) AS total_revenue
        FROM total_sales
        WHERE order_date <= '2016-12-31'
        GROUP BY product_name
        ORDER BY total_revenue DESC
        LIMIT 20
        '''

df = pd.read_sql_query(query, connection)
df

,product_name,quantity_sold,total_revenue
0,Trek Slash 8 27.5 - 2016,116,420478.9488
1,Trek Fuel EX 8 29 - 2016,111,284460.0191
2,Trek Conduit+ - 2016,104,280169.0661
3,Trek Remedy 29 Carbon Frameset - 2016,105,171323.0482
4,Surly Straggler 650b - 2016,114,170805.3939
5,Surly Straggler - 2016,119,163822.2400
6,Electra Townie Original 7D EQ - 2016,213,114358.0940
7,Heller Shagamaw Frame - 2016,93,108466.4889
8,Electra Townie Original 21D - 2016,217,107583.5439
9,Surly Wednesday Frameset - 2016,104,92659.0734
10,Ritchey Timberwolf Frameset - 2016,94,63081.6589
11,Electra Cruiser 1 (24-Inch) - 2016,237,57729.2618
12,Electra Townie Original 7D - 2015/2016,117,52788.9442
13,Electra Girl's Hawaii 1 (16-inch) - 2015/2016,206,49483.7672
14,Surly Ice Cream Truck Frameset - 2016,116,48813.1614
15,Electra Moto 1 - 2016,101,48085.9927
16,Electra Townie Original 7D EQ - Women's - 2016,86,45629.2395
17,Pure Cycles Western 3-Speed - Women's - 2015/2016,112,45510.6400
18,Pure Cycles Vine 8-Speed - 2016,99,38395.5000
19,Pure Cycles William 3-Speed - 2016,80,32103.5000

In [138]:
query = '''WITH total_sales AS (
                    SELECT ot.order_date,
                           oi.product_id,
                           p.product_name,
                           oi.quantity, 
                           oi.list_price, 
                           oi.discount, 
                           ((oi.quantity * oi.list_price) * (1 - oi.discount)) AS total_sale_product
                    FROM order_items AS oi
                    LEFT JOIN products AS p 
                    ON oi.product_id = p.product_id
                    LEFT JOIN orders as ot
                    ON oi.order_id = ot.order_id)
                    
        SELECT product_name, SUM(quantity) AS quantity_sold, SUM(total_sale_product) AS total_revenue
        FROM total_sales
        WHERE order_date <= '2016-12-31'
        GROUP BY product_name
        ORDER BY quantity_sold DESC
        LIMIT 20'''
        

df = pd.read_sql_query(query, connection)
df

,product_name,quantity_sold,total_revenue
0,Electra Cruiser 1 (24-Inch) - 2016,237,57729.2618
1,Electra Townie Original 21D - 2016,217,107583.5439
2,Electra Townie Original 7D EQ - 2016,213,114358.0940
3,Electra Girl's Hawaii 1 (16-inch) - 2015/2016,206,49483.7672
4,Surly Straggler - 2016,119,163822.2400
5,Electra Girl's Hawaii 1 (20-inch) - 2015/2016,119,31630.9456
6,Electra Townie Original 7D - 2015/2016,117,52788.9442
7,Trek Slash 8 27.5 - 2016,116,420478.9488
8,Surly Ice Cream Truck Frameset - 2016,116,48813.1614
9,Surly Straggler 650b - 2016,114,170805.3939
10,Pure Cycles Western 3-Speed - Women's - 2015/2016,112,45510.6400
11,Trek Fuel EX 8 29 - 2016,111,284460.0191
12,Trek Remedy 29 Carbon Frameset - 2016,105,171323.0482
13,Trek Conduit+ - 2016,104,280169.0661
14,Surly Wednesday Frameset - 2016,104,92659.0734
15,Electra Moto 1 - 2016,101,48085.9927
16,Pure Cycles Vine 8-Speed - 2016,99,38395.5000
17,Ritchey Timberwolf Frameset - 2016,94,63081.6589
18,Heller Shagamaw Frame - 2016,93,108466.4889
19,Electra Townie Original 7D EQ - Women's - 2016,86,45629.2395

In [139]:
query =  '''WITH total_sales AS (
                    SELECT ot.order_date,
                           oi.product_id,
                           p.product_name,
                           oi.quantity, 
                           oi.list_price, 
                           oi.discount, 
                           ((oi.quantity * oi.list_price) * (1 - oi.discount)) AS total_sale_product
                    FROM order_items AS oi
                    LEFT JOIN products AS p 
                    ON oi.product_id = p.product_id
                    LEFT JOIN orders as ot
                    ON oi.order_id = ot.order_id)
                    
        SELECT product_name, SUM(quantity) AS quantity_sold, SUM(total_sale_product) AS total_revenue
        FROM total_sales
        WHERE (order_date >= '2018-1-1') AND (order_date <= '2018-12-31')
        GROUP BY product_name
        ORDER BY total_revenue DESC
        LIMIT 20'''
        

df = pd.read_sql_query(query, connection)
df

,product_name,quantity_sold,total_revenue
0,Trek Domane SL 7 Women's - 2018,1,4649.9907
1,Trek Emonda ALR 6 - 2018,2,4277.9814
2,Trek Verve+ Lowstep - 2018,2,3679.9840
3,Trek Domane SL 5 Disc - 2018,1,1999.9920
4,Sun Bicycles ElectroLite - 2017,1,1403.9910
5,Surly Krampus - 2018,1,1394.0700
6,Electra Tiger Shark 3i - 2018,1,836.9907
7,Electra Townie Commute 8D Ladies' - 2018,1,629.9910
8,"Electra Superbolt 1 20"" - 2018",2,607.9810
9,Electra Heartchya 1 (20-inch) - Girl's - 2018,2,607.9810
10,Electra Tiger Shark 1 (20-inch) - Boys' - 2018,2,595.1814
11,Electra Townie 7D (20-inch) - Boys' - 2017,2,543.9840
12,Electra Cruiser 1 - 2016/2017/2018,2,431.9840

In [140]:
query = '''WITH total_sales AS (
                    SELECT ot.order_date,
                           oi.product_id,
                           p.product_name,
                           oi.quantity, 
                           oi.list_price, 
                           oi.discount, 
                           ((oi.quantity * oi.list_price) * (1 - oi.discount)) AS total_sale_product
                    FROM order_items AS oi
                    LEFT JOIN products AS p 
                    ON oi.product_id = p.product_id
                    LEFT JOIN orders as ot
                    ON oi.order_id = ot.order_id)
                    
        SELECT * FROM total_sales'''

df = pd.read_sql_query(query, connection)
df

,order_date,product_id,product_name,quantity,list_price,discount,total_sale_product
0,2016-01-01,20,Electra Townie Original 7D EQ - Women's - 2016,1,599.99,0.20,479.9920
1,2016-01-01,8,Trek Remedy 29 Carbon Frameset - 2016,2,1799.99,0.07,3347.9814
2,2016-01-01,10,Surly Straggler - 2016,2,1549.00,0.05,2943.1000
3,2016-01-01,16,Electra Townie Original 7D EQ - 2016,2,599.99,0.05,1139.9810
4,2016-01-01,4,Trek Fuel EX 8 29 - 2016,1,2899.99,0.20,2319.9920
...,...,...,...,...,...,...,...
4717,2018-11-28,159,Trek Emonda ALR 6 - 2018,2,2299.99,0.07,4277.9814
4718,2018-11-28,213,Electra Cruiser 1 - 2016/2017/2018,2,269.99,0.20,431.9840
4719,2018-12-28,197,Trek Verve+ Lowstep - 2018,2,2299.99,0.20,3679.9840
4720,2018-12-28,214,Electra Tiger Shark 3i - 2018,1,899.99,0.07,836.9907
4721,2018-12-28,182,Trek Domane SL 5 Disc - 2018,1,2499.99,0.20,1999.9920

In [141]:
query =  '''WITH total_sales AS (
                    SELECT ot.order_date,
                           oi.product_id,
                           p.product_name,
                           oi.quantity, 
                           oi.list_price, 
                           oi.discount, 
                           ((oi.quantity * oi.list_price) * (1 - oi.discount)) AS total_sale_product
                    FROM order_items AS oi
                    LEFT JOIN products AS p 
                    ON oi.product_id = p.product_id
                    LEFT JOIN orders as ot
                    ON oi.order_id = ot.order_id)
                    
        SELECT order_date, product_name, SUM(quantity) AS quantity_sold, SUM(total_sale_product) AS total_revenue
        FROM total_sales
        WHERE (order_date >= '2018-1-1') AND (order_date <= '2018-12-31')
        GROUP BY product_name
        ORDER BY total_revenue DESC
        LIMIT 20'''
        

df = pd.read_sql_query(query, connection)
df

,order_date,product_name,quantity_sold,total_revenue
0,2018-11-18,Trek Domane SL 7 Women's - 2018,1,4649.9907
1,2018-11-28,Trek Emonda ALR 6 - 2018,2,4277.9814
2,2018-12-28,Trek Verve+ Lowstep - 2018,2,3679.9840
3,2018-12-28,Trek Domane SL 5 Disc - 2018,1,1999.9920
4,2018-10-21,Sun Bicycles ElectroLite - 2017,1,1403.9910
5,2018-11-28,Surly Krampus - 2018,1,1394.0700
6,2018-12-28,Electra Tiger Shark 3i - 2018,1,836.9907
7,2018-10-21,Electra Townie Commute 8D Ladies' - 2018,1,629.9910
8,2018-10-21,"Electra Superbolt 1 20"" - 2018",2,607.9810
9,2018-11-18,Electra Heartchya 1 (20-inch) - Girl's - 2018,2,607.9810
10,2018-10-21,Electra Tiger Shark 1 (20-inch) - Boys' - 2018,2,595.1814
11,2018-10-21,Electra Townie 7D (20-inch) - Boys' - 2017,2,543.9840
12,2018-11-28,Electra Cruiser 1 - 2016/2017/2018,2,431.9840

In [142]:
query = '''WITH total_sales AS (
                    SELECT ot.order_date,
                           oi.product_id,
                           p.product_name,
                           oi.quantity, 
                           oi.list_price, 
                           oi.discount, 
                           ((oi.quantity * oi.list_price) * (1 - oi.discount)) AS total_sale_product
                    FROM order_items AS oi
                    LEFT JOIN products AS p 
                    ON oi.product_id = p.product_id
                    LEFT JOIN orders as ot
                    ON oi.order_id = ot.order_id)
        
            SELECT * FROM total_sales'''


df = pd.read_sql_query(query, connection)
df

,order_date,product_id,product_name,quantity,list_price,discount,total_sale_product
0,2016-01-01,20,Electra Townie Original 7D EQ - Women's - 2016,1,599.99,0.20,479.9920
1,2016-01-01,8,Trek Remedy 29 Carbon Frameset - 2016,2,1799.99,0.07,3347.9814
2,2016-01-01,10,Surly Straggler - 2016,2,1549.00,0.05,2943.1000
3,2016-01-01,16,Electra Townie Original 7D EQ - 2016,2,599.99,0.05,1139.9810
4,2016-01-01,4,Trek Fuel EX 8 29 - 2016,1,2899.99,0.20,2319.9920
...,...,...,...,...,...,...,...
4717,2018-11-28,159,Trek Emonda ALR 6 - 2018,2,2299.99,0.07,4277.9814
4718,2018-11-28,213,Electra Cruiser 1 - 2016/2017/2018,2,269.99,0.20,431.9840
4719,2018-12-28,197,Trek Verve+ Lowstep - 2018,2,2299.99,0.20,3679.9840
4720,2018-12-28,214,Electra Tiger Shark 3i - 2018,1,899.99,0.07,836.9907
4721,2018-12-28,182,Trek Domane SL 5 Disc - 2018,1,2499.99,0.20,1999.9920